[Desktop Entry]
Type=Service
Icon=TBD
Exec=kcmshell5 smart

X-KDE-Library=smart
X-KDE-ServiceTypes=KCModule
X-KDE-ParentApp=kinfocenter
X-KDE-PluginKeyword=smart
X-KDE-KInfoCenter-Category=basic_information # FIXME not sure that's a good fit
X-KDE-Weight=0
Categories=TBD

Name=TBD
Comment=TBD
X-KDE-Keywords=TBD
