# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Type=Service
Icon=preferences-smart-status
Exec=kinfocenter smart

X-KDE-Library=smart
X-KDE-ServiceTypes=KCModule
X-KDE-ParentApp=kinfocenter
X-KDE-PluginKeyword=smart
X-KDE-KInfoCenter-Category=device_information
Categories=Qt;KDE;X-KDE-information;

Name=SMART Status
Name[ca]=Estat SMART
Name[ca@valencia]=Estat SMART
Name[cs]=Stav SMARTu
Name[da]=SMART-status
Name[de]=SMART-Status
Name[en_GB]=SMART Status
Name[es]=Estado de SMART
Name[eu]=SMART egoera
Name[fi]=SMARTin tila
Name[fr]=Etat SMART
Name[it]=Stato SMART
Name[ko]=SMART 상태
Name[nl]=SMART status
Name[nn]=SMART-status
Name[pt]=Estado do SMART
Name[pt_BR]=Status do SMART
Name[ro]=Stare SMART
Name[sk]=Stav systému SMART
Name[sl]=Stanje SMART
Name[sv]=SMART-status
Name[uk]=Стан SMART
Name[x-test]=xxSMART Statusxx
Comment=Storage device health monitoring
Comment[ca]=Monitoratge de l'estat dels dispositius d'emmagatzematge
Comment[ca@valencia]=Monitoratge de l'estat dels dispositius d'emmagatzematge
Comment[da]=Overvågning af lagringsenheders sundhedstilstand
Comment[de]=Überwachung des Datenträgerstatus
Comment[en_GB]=Storage device health monitoring
Comment[es]=Control del estado de salud de dispositivos de almacenamiento
Comment[eu]=Biltegiratze-gailuen osasuna gainbegiratzea
Comment[fi]=Tallennuslaitteiden kunnon valvonta
Comment[fr]=Surveillance de la bonne santé du périphérique de stockage
Comment[it]=Controllo dello stato di salute del dispositivo di memorizzazione
Comment[ko]=저장 장치 상태 모니터링
Comment[nl]=Monitoren van welzijn opslagapparaat
Comment[nn]=Overvaking av helsetilstanden til lagringseiningar
Comment[pt]=Monitorização do estado de saúde dos dispositivos de armazenamento
Comment[pt_BR]=Monitoramento da integridade do dispositivo de armazenamento
Comment[ro]=Monitorizarea sănătății dispozitivelor de stocare
Comment[sk]=Monitorovanie stavu úložného zariadenia
Comment[sl]=Spremljanje stanja naprave za shranjevanje podatkov
Comment[sv]=Övervakning av lagringsenheters hälsa
Comment[uk]=Спостереження за станом пристроїв для зберігання даних
Comment[x-test]=xxStorage device health monitoringxx
Keywords=SMART,S.M.A.R.T.,monitoring,health,disk,drive,storage,failure
Keywords[ca]=SMART,S.M.A.R.T.,monitoratge,estat,disc,unitat,emmagatzematge,fallada
Keywords[ca@valencia]=SMART,S.M.A.R.T.,monitoratge,estat,disc,unitat,emmagatzematge,fallada
Keywords[da]=SMART,S.M.A.R.T.,overvågning,sundhed,disk,drev,lager,nedbrud
Keywords[en_GB]=SMART,S.M.A.R.T.,monitoring,health,disk,drive,storage,failure
Keywords[es]=SMART,S.M.A.R.T.,monitoreo,salud,disco,unidad,almacenamiento,fallo
Keywords[eu]=SMART,S.M.A.R.T.,gainbegiratzea,osasuna,diskoa,unitatea,biltegiratzea,hutsegitea
Keywords[fi]=SMART,valvonta,kunto,terveys,levy,asema,tallennuslaite,virhe
Keywords[fr]=SMART, S.M.A.R.T, surveillance, santé, disque, lecteur, stockage, défaillance
Keywords[it]=SMART,S.M.A.R.T.,controllo,stato di salute,disco,unità,archiviazione,gusto
Keywords[ko]=SMART,S.M.A.R.T.,monitoring,health,disk,drive,storage,failure,디스크,드라이브,저장소,저장,오류,실패,모니터링,상태
Keywords[nl]=SMART,S.M.A.R.T.,monitoren,welzijn,schijf,schijfstation,opslag,storing
Keywords[nn]=SMART,S.M.A.R.T.,overvaking,helse,helsetilstand,disk,stasjon,lagring,feil,harddisk
Keywords[pt]=SMART,S.M.A.R.T.,monitorização,saúde,dico,unidade,armazenamento,falha
Keywords[pt_BR]=SMART,S.M.A.R.T.,monitoramento,integridade,saúde,disco,unidade,armazenamento,falha
Keywords[ro]=SMART,S.M.A.R.T.,monitorizare,sănătate,disc,disk,unitate,stocare,eșuare
Keywords[sk]=SMART,S.M.A.R.T.,monitorovanie,zdravie,disk,jednotka,úložisko,zlyhanie
Keywords[sl]=SMART,S.M.A.R.T.,nadzorovanje,zdravje,disk,enota,shranjevanje,izpad,okvara
Keywords[sv]=SMART,S.M.A.R.T.,övervakning,hälsa,disk,enhet,lagring,fel
Keywords[uk]=SMART,S.M.A.R.T.,monitoring,health,disk,drive,storage,failure,смарт,спостереження,моніторинг,стан,диск,носій,сховище,помилка,вада,проблема
Keywords[x-test]=xxSMART,S.M.A.R.T.,monitoring,health,disk,drive,storage,failurexx
