[Desktop Entry]
Type=Service
Icon=preferences-smart-status
Exec=kinfocenter smart

X-KDE-Library=smart
X-KDE-ServiceTypes=KCModule
X-KDE-ParentApp=kinfocenter
X-KDE-PluginKeyword=smart
X-KDE-KInfoCenter-Category=device_information
Categories=Qt;KDE;X-KDE-information;

Name=SMART Status
Name[ca]=Estat SMART
Name[ca@valencia]=Estat SMART
Name[es]=Estado de SMART
Name[sv]=SMART-status
Name[x-test]=xxSMART Statusxx
Comment=Storage device health monitoring
Comment[ca]=Monitoratge de l'estat dels dispositius d'emmagatzematge
Comment[ca@valencia]=Monitoratge de l'estat dels dispositius d'emmagatzematge
Comment[es]=Control del estado de salud de dispositivos de almacenamiento
Comment[sv]=Övervakning av lagringsenheters hälsa
Comment[x-test]=xxStorage device health monitoringxx
Keywords=SMART,S.M.A.R.T.,monitoring,health,disk,drive,storage,failure
Keywords[ca]=SMART,S.M.A.R.T.,monitoratge,estat,disc,unitat,emmagatzematge,fallada
Keywords[ca@valencia]=SMART,S.M.A.R.T.,monitoratge,estat,disc,unitat,emmagatzematge,fallada
Keywords[es]=SMART,S.M.A.R.T.,monitoreo,salud,disco,unidad,almacenamiento,fallo
Keywords[sv]=SMART,S.M.A.R.T.,övervakning,hälsa,disk,enhet,lagring,fel
Keywords[x-test]=xxSMART,S.M.A.R.T.,monitoring,health,disk,drive,storage,failurexx
