# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Name=SMART
Name[ca]=SMART
Name[ca@valencia]=SMART
Name[cs]=SMART
Name[de]=SMART
Name[es]=SMART
Name[eu]=SMART
Name[fi]=SMART
Name[fr]=SMART
Name[it]=SMART
Name[ko]=SMART
Name[nl]=SMART
Name[pt_BR]=SMART
Name[ro]=SMART
Name[sk]=SMART
Name[sl]=SMART
Name[sv]=SMART
Name[uk]=SMART
Name[x-test]=xxSMARTxx
Type=Service
Icon=preferences-smart-status
# FIXME: do we need these metadata even
X-KDE-ServiceTypes=SettingsModule
X-KDE-PluginInfo-Author=Harald Sitter
X-KDE-PluginInfo-Email=sitter@kde.org
X-KDE-PluginInfo-Name=plasma_disks
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org
X-KDE-PluginInfo-License=GPL
X-Plasma-MainScript=main.qml
