# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Name=SMART
Name[ar]=سمارت
Name[az]=SMART
Name[bg]=SMART
Name[ca]=SMART
Name[ca@valencia]=SMART
Name[cs]=SMART
Name[da]=SMART
Name[de]=SMART
Name[el]=SMART
Name[en_GB]=SMART
Name[eo]=SMART
Name[es]=SMART
Name[et]=SMART
Name[eu]=SMART
Name[fi]=SMART
Name[fr]=SMART
Name[gl]=SMART
Name[he]=SMART
Name[hu]=SMART
Name[ia]=SMART
Name[id]=SMART
Name[it]=SMART
Name[ka]=SMART
Name[ko]=SMART
Name[nl]=SMART
Name[nn]=SMART
Name[pa]=SMART
Name[pl]=SMART
Name[pt]=SMART
Name[pt_BR]=SMART
Name[ro]=SMART
Name[ru]=SMART
Name[sk]=SMART
Name[sl]=SMART
Name[sv]=SMART
Name[tr]=SMART
Name[uk]=SMART
Name[zh_CN]=SMART
Name[zh_TW]=SMART
Type=Service
Icon=preferences-smart-status
# FIXME: do we need these metadata even
X-KDE-ServiceTypes=SettingsModule
X-KDE-PluginInfo-Author=Harald Sitter
X-KDE-PluginInfo-Email=sitter@kde.org
X-KDE-PluginInfo-Name=plasma_disks
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org
X-KDE-PluginInfo-License=GPL
X-Plasma-MainScript=main.qml
