[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
X-KDE-Library=smart
Icon=preferences-smart-status

Name=SMART
Name[ca]=SMART
Name[ca@valencia]=SMART
Name[cs]=SMART
Name[de]=SMART
Name[es]=SMART
Name[eu]=SMART
Name[fi]=SMART
Name[fr]=SMART
Name[it]=SMART
Name[ko]=SMART
Name[nl]=SMART
Name[pt]=SMART
Name[pt_BR]=SMART
Name[sk]=SMART
Name[sl]=SMART
Name[sv]=SMART
Name[uk]=SMART
Name[x-test]=xxSMARTxx
Comment=Storage device health monitoring
Comment[ca]=Monitoratge de l'estat dels dispositius d'emmagatzematge
Comment[ca@valencia]=Monitoratge de l'estat dels dispositius d'emmagatzematge
Comment[de]=Überwachung des Datenträgerstatus
Comment[es]=Control del estado de salud de dispositivos de almacenamiento
Comment[eu]=Biltegiratze-gailuen osasuna gainbegiratzea
Comment[fi]=Tallennuslaitteiden kunnon valvonta
Comment[fr]=Surveillance de la bonne santé du périphérique de stockage
Comment[it]=Controllo dello stato di salute del dispositivo di memorizzazione
Comment[ko]=저장 장치 상태 모니터링
Comment[nl]=Monitoren van welzijn opslagapparaat
Comment[pt]=Monitorização do estado de saúde dos dispositivos de armazenamento
Comment[pt_BR]=Monitoramento da integridade do dispositivo de armazenamento
Comment[sk]=Monitorovanie stavu úložného zariadenia
Comment[sl]=Spremljanje stanja naprave za shranjevanje podatkov
Comment[sv]=Övervakning av lagringsenheters hälsa
Comment[uk]=Спостереження за станом пристроїв для зберігання даних
Comment[x-test]=xxStorage device health monitoringxx
